uid: 899
gid: 899
hosts:
  - ssh_server: "fleabottom.duckdns.org"
    ssh_port: 22
    ssh_user: "media"
    ssh_key: "/config/fleabottom.key"
    directory_pairs:
      - remote_directory: "/mnt/media/TV"
        local_directory: "/data/media/tvshows"
      - remote_directory: "/mnt/media/Movies"
        local_directory: "/data/media/movies"
